.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  grid-auto-flow: dense;
  grid-gap: 20px;
  margin: 16px 46px;
}

.item {
  display: grid;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: var(--black);
  min-height: 400px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 16px;
  left: 16px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFFFFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #FFFFFF;
}

/* General sidebar styles */
.bm-menu {
  background: #363c4e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #363c4e;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bmMenuWrap {
  margin-top: -36px;
  margin-left: -8px;
}
